{% extends "bootstrap/base.html" %}
{% block metas %}
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock %}

{% block styles %}
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
{% endblock %}
{% block scripts %}
<!-- Latest compiled and minified JavaScript -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

{% endblock %}
{% block title %}Oto Change Tracking App{% endblock %}
{% block content %}

<nav class="navbar navbar-inverse navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">All Changes</a>
            <a class="navbar-brand" href="change">Add Change</a>
        </div>
    </div>
</nav>



  <table class="table">
  <thead>
    <tr>
      <th scope="col">Commit</th>
      <th scope="col">Message</th>
    </tr>
  </thead>
  <tbody>
    {% for change in changes %}
    <tr>
      <td>{{ change['commit'] }}</td>
      <td>{{ change['cmessage'] }}</td>
    </tr>
    {% endfor %}
   </tbody>
   </table>
  {% endblock %}
